@use "./animations";

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* duplicate */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  box-sizing: content-box;
  outline: none;
}

.lightbox .lb-image {
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}
